[SETUP setup_base]
period: Run2017
mode: TauPOG_Skimmer
jet_ordering: DeepCSV
btag_wp: Medium
cachePath: cache_tuple
#common_weights: PileUp BTag LeptonTrigIdIso GenEventWeight
common_weights: PileUp BTag GenEventWeight
n_splits: 120
split_seed: 1234567
massWindowParams: mh 116.0 35.0 111.0 45.0
massWindowParams: mhVis 87.9563 41.8451 109.639 43.0346

[SETUP mini_setup : setup_base]
channels: eTau muTau tauTau
energy_scales: Central
apply_mass_cut: false
apply_bb_cut: true
apply_charge_cut: true
tau_id_cuts: byMediumIsolationMVArun2017v2DBoldDMwLT2017
keep_genJets: true
keep_genParticles: true

[SETUP mh_setup : setup_base]
channels: eTau muTau tauTau
energy_scales: all
apply_mass_cut: true

[SETUP sync_setup : setup_base]
channels: tauTau
energy_scales: Central
apply_mass_cut: false
apply_bb_cut: true
apply_charge_cut: true
tau_id_cuts: byMediumIsolationMVArun2017v2DBoldDMwLT2017
keep_genJets: false
keep_genParticles: false

[SETUP HTT_setup : setup_base]
channels: eTau muTau tauTau
energy_scales: Central
apply_mass_cut: false
apply_bb_cut: false
apply_charge_cut: false
apply_kinfit: false
keep_genJets: false
keep_genParticles: true

[SETUP muMu : setup_base]
energy_scales: Central
apply_mass_cut: false
apply_charge_cut: true
channels: muMu
keep_genJets: true
keep_genParticles: true
apply_kinfit: false
apply_bb_cut: false

[DYJets]
weights: DY
merged_output: DYJetsToLL_M-50.root
file: DY1JetsToLL_M-50_ext1.root DY1JetsToLL_M-50_ext1_part2.root
file: DY2JetsToLL_M-50_ext1.root
file: DY3JetsToLL_M-50_ext1.root
file: DY4JetsToLL_M-50.root
file: DYBBJetsToLL_M-50.root
file: DYJetsToLL_M-50.root DYJetsToLL_M-50_part2.root
file: DYJetsToLL_M-50_ext1.root DYJetsToLL_M-50_ext1_part2.root
file: DYJetsToLL_M-50_HT-100to200.root
file: DYJetsToLL_M-50_HT-100to200_ext1.root
file: DYJetsToLL_M-50_HT-200to400.root
file: DYJetsToLL_M-50_HT-200to400_ext1.root
file: DYJetsToLL_M-50_HT-400to600.root
file: DYJetsToLL_M-50_HT-400to600_ext1.root
file: DYJetsToLL_M-50_HT-600to800.root
file: DYJetsToLL_M-50_HT-800to1200.root
file: DYJetsToLL_M-50_HT-1200to2500.root
file: DYJetsToLL_M-50_HT-2500toInf.root

[DYJets_nlo]
merged_output: DYJets_nlo.root
file: DYJetsToLL_M-50_nlo.root
file: DYJetsToLL_M-50_ext1_nlo.root DYJetsToLL_M-50_ext1_nlo_part2.root DYJetsToLL_M-50_ext1_nlo_part3.root DYJetsToLL_M-50_ext1_nlo_part4.root DYJetsToLL_M-50_ext1_nlo_part5.root

[EWK]
merged_output: EWK.root
file_xs: 20.25 EWKWMinus2Jets_WToLNu_M-50_TuneCP5.root
file_xs: 25.62 EWKWPlus2Jets_WToLNu_M-50_TuneCP5.root
file_xs: 3.987 EWKZ2Jets_ZToLL_M-50_TuneCP5.root
file_xs: 10.66 EWKZ2Jets_ZToNuNu_TuneCP5.root

#[TT]
#weights: TopPt
#merged_output: TT.root
#file: TTJets.root
#file_xs: 88.29 TTTo2L2Nu.root TTTo2L2Nu_TuneCP5_PSweights.root part:TTTo2L2Nu_TuneCP5_PSweights_part2.root part:TTTo2L2Nu_TuneCP5_PSweights_part3.root
#file_xs: 365.34 TTToSemiLeptonic.root TTToSemiLeptonic_TuneCP5_PSweights.root part:TTToSemiLeptonic_TuneCP5_PSweights_part2.root
#file_xs: 377.96 TTToHadronic.root TTToHadronic_TuneCP5_PSweights.root

[TTTo2L2Nu]
weights: TopPt
merged_output: TTTo2L2Nu.root
file: TTTo2L2Nu.root
file: TTTo2L2Nu_TuneCP5_PSweights.root TTTo2L2Nu_TuneCP5_PSweights_part2.root TTTo2L2Nu_TuneCP5_PSweights_part3.root

[TTToSemiLeptonic]
weights: TopPt
merged_output: TTToSemiLeptonic.root
file: TTToSemiLeptonic.root
file: TTToSemiLeptonic_TuneCP5_PSweights.root TTToSemiLeptonic_TuneCP5_PSweights_part2.root

[TTToHadronic]
weights: TopPt
merged_output: TTToHadronic.root
file: TTToHadronic.root
file: TTToHadronic_TuneCP5_PSweights.root

[ST]
merged_output: ST.root
file_xs: 80.95 ST_t-channel_antitop_4f_inclusiveDecays_TuneCP5V2-madspin-pythia8.root
file_xs: 136 ST_t-channel_top_4f_inclusiveDecays_TuneCP5V2-madspin-pythia8.root
file_xs: 34.97 ST_tW_antitop_5f_inclusiveDecays_TuneCP5_PSweights.root ST_tW_antitop_5f_inclusiveDecays.root
file_xs: 35.6 ST_tW_top_5f_inclusiveDecays_TuneCP5_PSweights.root ST_tW_top_5f_inclusiveDecays.root

[ttH]
merged_output: ttH.root
file_xs: 0.214 ttHJetToNonbb_M125_TuneCP5.root
file_xs: 0.293 ttHJetTobb_M125_TuneCP5.root

[ttV]
merged_output: ttV.root
file_xs: 0.204 TTWJetsToLNu_TuneCP5.root TTWJetsToLNu_TuneCP5_PSweights.root
file_xs: 0.406 TTWJetsToQQ_TuneCP5.root
file_xs: 0.514 TTZToQQ_TuneCP5.root
file_xs: 0.243 TTZToLLNuNu_M-10_TuneCP5.root TTZToLLNuNu_M-10_TuneCP5_PSweights.root
file_xs: 0.053 TTZToLL_M-1to10_TuneCP5.root

[ttVV]
merged_output: ttVV.root
file_xs: 0.008 TTWW_TuneCP5_ext1.root
file_xs: 0.002 TTWZ_TuneCP5.root
file_xs: 0.001 TTZZ_TuneCP5.root

[WJets]
weights: Wjets
merged_output: Wjets.root
file: WJetsToLNu_ext1.root
file: W2JetsToLNu.root
file: W3JetsToLNu.root
file: W4JetsToLNu.root
file: WJetsToLNu_HT-100To200.root
file: WJetsToLNu_HT-200To400.root
file: WJetsToLNu_HT-400To600.root
file: WJetsToLNu_HT-600To800.root
file: WJetsToLNu_HT-800To1200.root
file: WJetsToLNu_HT-1200To2500.root
file: WJetsToLNu_HT-2500ToInf.root

[VV]
merged_output: VV.root
file_xs: 45.99 WWToLNuQQ_NNPDF31.root WWToLNuQQ_NNPDF31_ext1.root
file_xs: 11.08 WWTo2L2Nu_ext1.root
file_xs: 47.73 WWTo4Q_NNPDF31.root WWTo4Q_ext1.root
file_xs: 0.637 WZTo3LNu_0Jets_MLL-50.root
file_xs: 0.337 WZTo3LNu_1Jets_MLL-50.root
file_xs: 0.066 WZTo3LNu_2Jets_MLL-50.root
file_xs: 0.096 WZTo3LNu_3Jets_MLL-50.root
file_xs: 11.66 WZTo1L1Nu2Q.root
file_xs: 6.331 WZTo2L2Q.root
file_xs: 3.69 ZZTo2L2Q.root part:ZZTo2L2Q_part2.root
file_xs: 1.33 ZZTo4L.root ZZTo4L_ext1.root part:ZZTo4L_ext1_part2.root part:ZZTo4L_ext1_part3.root part:ZZTo4L_ext1_part4.root

[VVV]
merged_output: VVV.root
file_xs: 0.209 WWW_4F_TuneCP5.root
file_xs: 0.165 WWZ_4F_TuneCP5.root
file_xs: 0.056 WZZ_TuneCP5.root
file_xs: 0.014 ZZZ_TuneCP5.root

[VH]
merged_output: VH.root
file_xs: 0.055 ZHToTauTau_M125.root
file_xs: 0.046 ZH_HToBB_ZToLL_M125.root
file_xs: 0.32 ZH_HToBB_ZToQQ_M125.root
file_xs: 0.053 WplusHToTauTau_M125.root
file_xs: 0.033 WminusHToTauTau_M125.root

[SM_Higgs_125]
merged_output: SM_Higgs.root
file_xs: 0.243 VBFHToTauTau_M125.root
file_xs: 1.352 GluGluHToTauTau_M125.root

[Signal_VBFRadion]
file_ex: VBFRadion_M-1000.root VBFToRadionToHHTo2B2Tau_M-1000_narrow.root
file_ex: VBFRadion_M-1250.root VBFToRadionToHHTo2B2Tau_M-1250_narrow.root
file_ex: VBFRadion_M-1500.root VBFToRadionToHHTo2B2Tau_M-1500_narrow.root
file_ex: VBFRadion_M-1750.root VBFToRadionToHHTo2B2Tau_M-1750_narrow.root
file_ex: VBFRadion_M-2000.root VBFToRadionToHHTo2B2Tau_M-2000_narrow.root
file_ex: VBFRadion_M-250.root  VBFToRadionToHHTo2B2Tau_M-250_narrow.root
file_ex: VBFRadion_M-270.root  VBFToRadionToHHTo2B2Tau_M-270_narrow.root
file_ex: VBFRadion_M-280.root  VBFToRadionToHHTo2B2Tau_M-280_narrow.root
file_ex: VBFRadion_M-3000.root VBFToRadionToHHTo2B2Tau_M-3000_narrow.root
file_ex: VBFRadion_M-300.root  VBFToRadionToHHTo2B2Tau_M-300_narrow.root
file_ex: VBFRadion_M-350.root  VBFToRadionToHHTo2B2Tau_M-350_narrow.root
file_ex: VBFRadion_M-400.root  VBFToRadionToHHTo2B2Tau_M-400_narrow.root
file_ex: VBFRadion_M-450.root  VBFToRadionToHHTo2B2Tau_M-450_narrow.root
file_ex: VBFRadion_M-500.root  VBFToRadionToHHTo2B2Tau_M-500_narrow.root
file_ex: VBFRadion_M-550.root  VBFToRadionToHHTo2B2Tau_M-550_narrow.root
file_ex: VBFRadion_M-600.root  VBFToRadionToHHTo2B2Tau_M-600_narrow.root
file_ex: VBFRadion_M-650.root  VBFToRadionToHHTo2B2Tau_M-650_narrow.root
file_ex: VBFRadion_M-700.root  VBFToRadionToHHTo2B2Tau_M-700_narrow.root
file_ex: VBFRadion_M-750.root  VBFToRadionToHHTo2B2Tau_M-750_narrow.root
file_ex: VBFRadion_M-800.root  VBFToRadionToHHTo2B2Tau_M-800_narrow.root
file_ex: VBFRadion_M-850.root  VBFToRadionToHHTo2B2Tau_M-850_narrow.root
file_ex: VBFRadion_M-900.root  VBFToRadionToHHTo2B2Tau_M-900_narrow.root

[Signal_VBFGraviton]
file_ex: VBFGraviton_M-1000.root  VBFToBulkGravitonToHHTo2B2Tau_M-1000_narrow.root
file_ex: VBFGraviton_M-1750.root  VBFToBulkGravitonToHHTo2B2Tau_M-1750_narrow.root
file_ex: VBFGraviton_M-2000.root  VBFToBulkGravitonToHHTo2B2Tau_M-2000_narrow.root
file_ex: VBFGraviton_M-250.root    VBFToBulkGravitonToHHTo2B2Tau_M-250_narrow.root
file_ex: VBFGraviton_M-260.root    VBFToBulkGravitonToHHTo2B2Tau_M-260_narrow.root
file_ex: VBFGraviton_M-270.root    VBFToBulkGravitonToHHTo2B2Tau_M-270_narrow.root
file_ex: VBFGraviton_M-280.root    VBFToBulkGravitonToHHTo2B2Tau_M-280_narrow.root
file_ex: VBFGraviton_M-300.root    VBFToBulkGravitonToHHTo2B2Tau_M-300_narrow.root
file_ex: VBFGraviton_M-320.root    VBFToBulkGravitonToHHTo2B2Tau_M-320_narrow.root
file_ex: VBFGraviton_M-350.root    VBFToBulkGravitonToHHTo2B2Tau_M-350_narrow.root
file_ex: VBFGraviton_M-400.root    VBFToBulkGravitonToHHTo2B2Tau_M-400_narrow.root
file_ex: VBFGraviton_M-450.root    VBFToBulkGravitonToHHTo2B2Tau_M-450_narrow.root
file_ex: VBFGraviton_M-500.root    VBFToBulkGravitonToHHTo2B2Tau_M-500_narrow.root
file_ex: VBFGraviton_M-600.root    VBFToBulkGravitonToHHTo2B2Tau_M-600_narrow.root
file_ex: VBFGraviton_M-650.root    VBFToBulkGravitonToHHTo2B2Tau_M-650_narrow.root
file_ex: VBFGraviton_M-700.root    VBFToBulkGravitonToHHTo2B2Tau_M-700_narrow.root
file_ex: VBFGraviton_M-750.root    VBFToBulkGravitonToHHTo2B2Tau_M-750_narrow.root
file_ex: VBFGraviton_M-850.root    VBFToBulkGravitonToHHTo2B2Tau_M-850_narrow.root
file_ex: VBFGraviton_M-900.root    VBFToBulkGravitonToHHTo2B2Tau_M-900_narrow.root

[Signal_VBFHH]
file_ex: VBFHH-CV_1.5_C2V_1_C3_1.root  VBFHHTo2B2Tau_CV_1_5_C2V_1_C3_1.root
file_ex: VBFHH-CV_1_C2V_1_C3_0.root    VBFHHTo2B2Tau_CV_1_C2V_1_C3_0.root
file_ex: VBFHH-CV_1_C2V_1_C3_1.root    VBFHHTo2B2Tau_CV_1_C2V_1_C3_1.root
file_ex: VBFHH-CV_1_C2V_1_C3_2.root    VBFHHTo2B2Tau_CV_1_C2V_1_C3_2.root
file_ex: VBFHH-CV_1_C2V_2_C3_1.root    VBFHHTo2B2Tau_CV_1_C2V_2_C3_1.root

[Signal_Radion]
file_ex: Radion_M-1000.root  GluGluToRadionToHHTo2B2Tau_M-1000_narrow_correctedcfg.root
file_ex: Radion_M-1250.root  GluGluToRadionToHHTo2B2Tau_M-1250_narrow_correctedcfg.root
file_ex: Radion_M-1500.root  GluGluToRadionToHHTo2B2Tau_M-1500_narrow_correctedcfg.root
file_ex: Radion_M-1750.root  GluGluToRadionToHHTo2B2Tau_M-1750_narrow_correctedcfg.root
file_ex: Radion_M-2000.root  GluGluToRadionToHHTo2B2Tau_M-2000_narrow_correctedcfg.root
file_ex: Radion_M-2500.root  GluGluToRadionToHHTo2B2Tau_M-2500_narrow_correctedcfg.root
file_ex: Radion_M-250.root   GluGluToRadionToHHTo2B2Tau_M-250_narrow_correctedcfg.root
file_ex: Radion_M-260.root   GluGluToRadionToHHTo2B2Tau_M-260_narrow_correctedcfg.root
file_ex: Radion_M-270.root   GluGluToRadionToHHTo2B2Tau_M-270_narrow_correctedcfg.root
file_ex: Radion_M-280.root   GluGluToRadionToHHTo2B2Tau_M-280_narrow_correctedcfg.root
file_ex: Radion_M-3000.root  GluGluToRadionToHHTo2B2Tau_M-3000_narrow_correctedcfg.root
file_ex: Radion_M-300.root   GluGluToRadionToHHTo2B2Tau_M-300_narrow_correctedcfg.root
file_ex: Radion_M-320.root   GluGluToRadionToHHTo2B2Tau_M-320_narrow_correctedcfg.root
file_ex: Radion_M-350.root   GluGluToRadionToHHTo2B2Tau_M-350_narrow_correctedcfg.root
file_ex: Radion_M-400.root   GluGluToRadionToHHTo2B2Tau_M-400_narrow_correctedcfg.root
file_ex: Radion_M-450.root   GluGluToRadionToHHTo2B2Tau_M-450_narrow_correctedcfg.root
file_ex: Radion_M-500.root   GluGluToRadionToHHTo2B2Tau_M-500_narrow_correctedcfg.root
file_ex: Radion_M-550.root   GluGluToRadionToHHTo2B2Tau_M-550_narrow_correctedcfg.root
file_ex: Radion_M-600.root   GluGluToRadionToHHTo2B2Tau_M-600_narrow_correctedcfg.root
file_ex: Radion_M-650.root   GluGluToRadionToHHTo2B2Tau_M-650_narrow_correctedcfg.root
file_ex: Radion_M-700.root   GluGluToRadionToHHTo2B2Tau_M-700_narrow_correctedcfg.root
file_ex: Radion_M-750.root   GluGluToRadionToHHTo2B2Tau_M-750_narrow_correctedcfg.root
file_ex: Radion_M-800.root   GluGluToRadionToHHTo2B2Tau_M-800_narrow_correctedcfg.root
file_ex: Radion_M-850.root   GluGluToRadionToHHTo2B2Tau_M-850_narrow_correctedcfg.root
file_ex: Radion_M-900.root   GluGluToRadionToHHTo2B2Tau_M-900_narrow_correctedcfg.root

[Signal_Graviton]
file_ex: Graviton_M-250.root GluGluToBulkGravitonToHHTo2B2Tau_M-250_narrow_correctedcfg.root
file_ex: Graviton_M-260.root GluGluToBulkGravitonToHHTo2B2Tau_M-260_narrow_correctedcfg.root
file_ex: Graviton_M-270.root GluGluToBulkGravitonToHHTo2B2Tau_M-270_narrow_correctedcfg.root
file_ex: Graviton_M-280.root GluGluToBulkGravitonToHHTo2B2Tau_M-280_narrow_correctedcfg.root
file_ex: Graviton_M-350.root GluGluToBulkGravitonToHHTo2B2Tau_M-350_narrow_correctedcfg.root
file_ex: Graviton_M-400.root GluGluToBulkGravitonToHHTo2B2Tau_M-400_narrow_correctedcfg.root
file_ex: Graviton_M-450.root GluGluToBulkGravitonToHHTo2B2Tau_M-450_narrow_correctedcfg.root
file_ex: Graviton_M-550.root GluGluToBulkGravitonToHHTo2B2Tau_M-550_narrow_correctedcfg.root
file_ex: Graviton_M-600.root GluGluToBulkGravitonToHHTo2B2Tau_M-600_narrow_correctedcfg.root
file_ex: Graviton_M-650.root GluGluToBulkGravitonToHHTo2B2Tau_M-650_narrow_correctedcfg.root
file_ex: Graviton_M-750.root GluGluToBulkGravitonToHHTo2B2Tau_M-750_narrow_correctedcfg.root
file_ex: Graviton_M-800.root GluGluToBulkGravitonToHHTo2B2Tau_M-800_narrow_correctedcfg.root

[Signal_SM]
weights: BSM_to_SM
merged_output: ggHH_SM.root
file: GluGluToHHTo2B2Tau_node_12_correctedcfg.root
file: GluGluToHHTo2B2Tau_node_2_correctedcfg.root
file: GluGluToHHTo2B2Tau_node_3_correctedcfg.root
file: GluGluToHHTo2B2Tau_node_4_correctedcfg.root
file: GluGluToHHTo2B2Tau_node_7_correctedcfg.root
file: GluGluToHHTo2B2Tau_node_9_correctedcfg.root
file: GluGluToHHTo2B2Tau_node_SM_correctedcfg.root

[Data_SingleElectron]
apply_common_weights: false
isData: true
merged_output: SingleElectron_2017.root
file: SingleElectron_Run2017B-31Mar2018-v1.root
file: SingleElectron_Run2017C-31Mar2018-v1.root
file: SingleElectron_Run2017D-31Mar2018-v1.root
file: SingleElectron_Run2017E-31Mar2018-v1.root
file: SingleElectron_Run2017F-31Mar2018-v1.root

[Data_SingleMuon]
apply_common_weights: false
isData: true
merged_output: SingleMuon_2017.root
file: SingleMuon_Run2017B-31Mar2018-v1.root
file: SingleMuon_Run2017C-31Mar2018-v1.root
file: SingleMuon_Run2017D-31Mar2018-v1.root
file: SingleMuon_Run2017E-31Mar2018-v1.root
file: SingleMuon_Run2017F-31Mar2018-v1.root SingleMuon_Run2017F-31Mar2018-v1_part2.root

[Data_Tau]
apply_common_weights: false
isData: true
merged_output: Tau_2017.root
file: Tau_Run2017B-31Mar2018-v1.root
file: Tau_Run2017C-31Mar2018-v1.root
file: Tau_Run2017D-31Mar2018-v1.root
file: Tau_Run2017E-31Mar2018-v1.root
file: Tau_Run2017F-31Mar2018-v1.root

[SUSYGluGluToHToTauTau]
file_ex: SUSYGluGluToHToTauTau-M-80_TuneCP5.root SUSYGluGluToHToTauTau_M-80_TuneCP5.root
file_ex: SUSYGluGluToHToTauTau-M-90_TuneCP5.root SUSYGluGluToHToTauTau_M-90_TuneCP5.root
file_ex: SUSYGluGluToHToTauTau-M-100_TuneCP5.root SUSYGluGluToHToTauTau_M-100_TuneCP5.root
file_ex: SUSYGluGluToHToTauTau-M-110_TuneCP5.root SUSYGluGluToHToTauTau_M-110_TuneCP5.root
file_ex: SUSYGluGluToHToTauTau-M-120_TuneCP5.root SUSYGluGluToHToTauTau_M-120_TuneCP5.root
file_ex: SUSYGluGluToHToTauTau-M-130_TuneCP5.root SUSYGluGluToHToTauTau_M-130_TuneCP5.root
file_ex: SUSYGluGluToHToTauTau-M-140_TuneCP5.root SUSYGluGluToHToTauTau_M-140_TuneCP5.root
file_ex: SUSYGluGluToHToTauTau-M-180_TuneCP5.root SUSYGluGluToHToTauTau_M-180_TuneCP5.root
file_ex: SUSYGluGluToHToTauTau-M-200_TuneCP5.root SUSYGluGluToHToTauTau_M-200_TuneCP5.root
file_ex: SUSYGluGluToHToTauTau-M-250_TuneCP5.root SUSYGluGluToHToTauTau_M-250_TuneCP5.root
file_ex: SUSYGluGluToHToTauTau-M-300_TuneCP5.root SUSYGluGluToHToTauTau_M-300_TuneCP5.root
file_ex: SUSYGluGluToHToTauTau-M-350_TuneCP5.root SUSYGluGluToHToTauTau_M-350_TuneCP5.root
file_ex: SUSYGluGluToHToTauTau-M-400_TuneCP5.root SUSYGluGluToHToTauTau_M-400_TuneCP5.root
file_ex: SUSYGluGluToHToTauTau-M-450_TuneCP5.root SUSYGluGluToHToTauTau_M-450_TuneCP5.root
file_ex: SUSYGluGluToHToTauTau-M-600_TuneCP5.root SUSYGluGluToHToTauTau_M-600_TuneCP5.root
file_ex: SUSYGluGluToHToTauTau-M-700_TuneCP5.root SUSYGluGluToHToTauTau_M-700_TuneCP5.root
file_ex: SUSYGluGluToHToTauTau-M-800_TuneCP5.root SUSYGluGluToHToTauTau_M-800_TuneCP5.root
file_ex: SUSYGluGluToHToTauTau-M-900_TuneCP5.root SUSYGluGluToHToTauTau_M-900_TuneCP5.root
file_ex: SUSYGluGluToHToTauTau-M-1200_TuneCP5.root SUSYGluGluToHToTauTau_M-1200_TuneCP5.root
file_ex: SUSYGluGluToHToTauTau-M-1400_TuneCP5.root SUSYGluGluToHToTauTau_M-1400_TuneCP5.root
file_ex: SUSYGluGluToHToTauTau-M-1500_TuneCP5.root SUSYGluGluToHToTauTau_M-1500_TuneCP5.root
file_ex: SUSYGluGluToHToTauTau-M-1600_TuneCP5.root SUSYGluGluToHToTauTau_M-1600_TuneCP5.root
file_ex: SUSYGluGluToHToTauTau-M-1800_TuneCP5.root SUSYGluGluToHToTauTau_M-1800_TuneCP5.root
file_ex: SUSYGluGluToHToTauTau-M-2000_TuneCP5.root SUSYGluGluToHToTauTau_M-2000_TuneCP5.root
file_ex: SUSYGluGluToHToTauTau-M-2300_TuneCP5.root SUSYGluGluToHToTauTau_M-2300_TuneCP5.root
file_ex: SUSYGluGluToHToTauTau-M-2600_TuneCP5.root SUSYGluGluToHToTauTau_M-2600_TuneCP5.root
file_ex: SUSYGluGluToHToTauTau-M-2390_TuneCP5.root SUSYGluGluToHToTauTau_M-2900_TuneCP5.root
file_ex: SUSYGluGluToHToTauTau-M-3200_TuneCP5.root SUSYGluGluToHToTauTau_M-3200_TuneCP5.root

[QCD_MC_MuEnriched]
merged_output: QCD_MC_MuEnriched.root
file_xs: 2799000.0 QCD_Pt-15to20_MuEnrichedPt5_TuneCP5_13TeV_pythia8.root
file_xs: 2526000.0 QCD_Pt-20to30_MuEnrichedPt5_TuneCP5_13TeV_pythia8.root
file_xs: 1362000.0 QCD_Pt-30to50_MuEnrichedPt5_TuneCP5_13TeV_pythia8.root
file_xs: 376600.0 QCD_Pt-50to80_MuEnrichedPt5_TuneCP5_13TeV_pythia8.root
file_xs: 88930.0 QCD_Pt-80to120_MuEnrichedPt5_TuneCP5_13TeV_pythia8.root
file_xs: 21230.0 QCD_Pt-120to170_MuEnrichedPt5_TuneCP5_13TeV_pythia8.root
file_xs: 7055.0 QCD_Pt-170to300_MuEnrichedPt5_TuneCP5_13TeV_pythia8.root
#file_xs: QCD_Pt-300to470_MuEnrichedPt5_TuneCP5_13TeV_pythia8.root
file_xs: 59.24 QCD_Pt-470to600_MuEnrichedPt5_TuneCP5_13TeV_pythia8.root

[QCD_MC_PtBinned]
merged_output: QCD_MC_Tune.root
file_xs: 1246000000.0 QCD_Pt_15to30_TuneCP5_13TeV_pythia8.root QCD_Pt_15to30_TuneCP5_13TeV_pythia8_ext1.root
file_xs: 106900000.0 QCD_Pt_30to50_TuneCP5_13TeV_pythia8.root
file_xs: 15710000.0 QCD_Pt_50to80_TuneCP5_13TeV_pythia8.root QCD_Pt_50to80_TuneCP5_13TeV_pythia8_ext1.root
file_xs: 2336000.0 QCD_Pt_80to120_TuneCP5_13TeV_pythia8.root QCD_Pt_80to120_TuneCP5_13TeV_pythia8_ext1.root
file_xs: 407300.0 QCD_Pt_120to170_TuneCP5_13TeV_pythia8.root
file_xs: 103500.0 QCD_Pt_170to300_TuneCP5_13TeV_pythia8.root
file_xs: 6830.0	 QCD_Pt_300to470_TuneCP5_13TeV_pythia8.root
file_xs: 552.1 QCD_Pt_470to600_TuneCP5_13TeV_pythia8.root
file_xs: 156.5 QCD_Pt_600to800_TuneCP5_13TeV_pythia8.root
file_xs: 26.28 QCD_Pt_800to1000_TuneCP5_13TeV_pythia8.root QCD_Pt_800to1000_TuneCP5_13TeV_pythia8_ext1.root
file_xs: 7.47 QCD_Pt_1000to1400_TuneCP5_13TeV_pythia8.root QCD_Pt_1000to1400_TuneCP5_13TeV_pythia8_ext1.root
file_xs: 0.6484 QCD_Pt_1400to1800_TuneCP5_13TeV_pythia8.root
file_xs: 0.08743 QCD_Pt_1800to2400_TuneCP5_13TeV_pythia8.root
file_xs: 0.005236 QCD_Pt_2400to3200_TuneCP5_13TeV_pythia8.root
file_xs: 0.0001357 QCD_Pt_3200toInf_TuneCP5_13TeV_pythia8.root
