[ANA_DESC common]
int_lumi: 41529.343
period: Run2017
#mode: HH
mode: TauPOG
energy_scales: Central
categories: 0j 2j
sub_categories: NoCuts
regions: OS_Isolated OS_AntiIsolated SS_Isolated SS_AntiIsolated SS_LooseIsolated
hist_cfg: hh-bbtautau/Analysis/config/2017/histograms.cfg
plot_cfg: hh-bbtautau/Analysis/config/2017/plot_setup.cfg
plot_page_opt: internal_plot
jet_ordering: DeepCSV
#tauIdDiscriminator: byIsolationMVArun2017v2DBoldDMwLT2017
tauIdDiscriminator: byDeepTau2017v1VSjet
#tauIdDiscriminator: byDpfTau2016v0VSall
workingPoint: Medium
useDeepTau: false
applyTauID: true
#unc_cfg: hh-bbtautau/Analysis/config/2017/prefit_unc.cfg
#syncDataIds: sync_DY_nlo:2j/mh/OS_Isolated/Central/DY_nlo_SF_.*
#syncDataIds: sync_DY_nlo:2j/NoCuts/OS_Isolated/Central/DY_nlo
#syncDataIds: sync_DY_nlo:2j/NoCuts/OS_Isolated/Central/Data_SingleMuon
trigger: eTau HLT_Ele32_WPTight_Gsf_v HLT_Ele35_WPTight_Gsf_v HLT_Ele24_eta2p1_WPTight_Gsf_LooseChargedIsoPFTau30_eta2p1_CrossL1_v
trigger: muTau HLT_IsoMu24_v HLT_IsoMu27_v HLT_IsoMu20_eta2p1_LooseChargedIsoPFTau27_eta2p1_CrossL1_v
#trigger: muTau HLT_IsoMu27_v
trigger: muMu HLT_IsoMu24_v HLT_IsoMu27_v
trigger: tauTau HLT_DoubleTightChargedIsoPFTau35_Trk1_TightID_eta2p1_Reg_v HLT_DoubleMediumChargedIsoPFTau40_Trk1_TightID_eta2p1_Reg_v HLT_DoubleTightChargedIsoPFTau40_Trk1_eta2p1_Reg_v

[ANA_DESC full : common]
#backgrounds: TTTo2L2Nu TTToSemiLeptonic TTToHadronic DY_nlo Wjets VV EWK ST QCD
backgrounds: TTTo2L2Nu TTToSemiLeptonic TTToHadronic DY_lo_SF Wjets VV EWK ST QCD
data: Data_SingleElectron Data_SingleMuon Data_Tau
cmb_samples: TT other_bkg
#draw_sequence: data DY_nlo TT QCD Wjets other_bkg
draw_sequence: data DY_lo_SF TT QCD Wjets other_bkg

[DY_nlo]
file_path: DYJets_nlo.root
cross_section: 6225.42
sample_type: MC
datacard_name: DY
title: DY #rightarrow ll + jets
color: kYellow

[DY_lo]
file_path: DYJetsToLL_M-50.root
cross_section: 6225.42
sample_type: MC
datacard_name: DY
title: DY #rightarrow ll + jets
color: kYellow

[DY_nlo_SF : DY_nlo]
sample_type: DY
fit_method: Htt
norm_sf_file: hh-bbtautau/McCorrections/data/htt_scalefactors_2017_v2.root

[DY_lo_SF : DY_lo]
sample_type: DY
fit_method: Htt
norm_sf_file: hh-bbtautau/McCorrections/data/htt_scalefactors_2017_v2.root

[EWK]
file_path: EWK.root
cross_section: 25.62+20.25+3.987
sample_type: MC
datacard_name: EWK

[TTTo2L2Nu]
file_path: TTTo2L2Nu.root
cross_section: 88.29
title: t#bar{t}2l2#nu
color: kRed-5
sample_type: TT
#sample_type: MC
#datacard_name: TTTo2L2Nu

[TTToSemiLeptonic]
file_path: TTToSemiLeptonic.root
cross_section: 365.34
title: t#bar{t}SemiLeptonic
color: kRed
sample_type: TT
#datacard_name: TTToSemiLeptonic

[TTToHadronic]
file_path: TTToHadronic.root
cross_section: 377.96
title: t#bar{t}Hadronic
color: kOrange
sample_type: TT
#datacard_name: TTToHadronic

[SAMPLE_CMB TT]
sample_descriptors: TTTo2L2Nu TTToSemiLeptonic TTToHadronic
color: kRed-3
datacard_name: TT

[ST]
file_path: ST.root
cross_section: 80.95+136+34.97+35.6
sample_type: MC
datacard_name: singleT
color: kSpring

[Wjets]
file_path: Wjets.root
cross_section: 52940.0
sample_type: MC
datacard_name: W
color: kViolet-6

[VV]
file_path: VV.root
cross_section: 75.8+27.6+12.14
sample_type: MC
datacard_name: VV
color: kBlue+2

[VH]
file_path: VH.root
cross_section: 0.055+0.053+0.033
sample_type: MC
datacard_name: VH
title: SM Higgs
color: kGreen

[SM_Higgs]
file_path: SM_Higgs.root
cross_section: 0.243+1.352
sample_type: MC
datacard_name: SM_Higgs
title: SM Higgs
color: kViolet+5

[ttH]
file_path: ttH.root
cross_section: 0.0318
sample_type: MC
color: kGreen-7

[Data_SingleElectron]
file_path: SingleElectron_2017.root
title: Data
channels: eTau
sample_type: Data
datacard_name: data_obs

[Data_SingleMuon]
file_path: SingleMuon_2017.root
title: Data
channels: muTau muMu
sample_type: Data
datacard_name: data_obs

[Data_Tau]
file_path: Tau_2017.root
title: Data
channels: tauTau
sample_type: Data
datacard_name: data_obs

[QCD]
title: QCD
color: kPink+1
sample_type: QCD
datacard_name: QCD

[TotalBkg]
title: TotalBkg
datacard_name: TotalBkg

[SAMPLE_CMB other_bkg]
sample_descriptors: EWK ST VV
color: kCyan+2
title: Other backgrounds
